.u-section-1 .u-sheet-1 {
  min-height: 925px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: -16px 60px 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: -25px 38px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 1141px;
  margin: 26px -1px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  line-height: 3;
}

.u-block-9f6e-35 {
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 69px;
  min-height: 34px;
  height: auto;
  margin: -358px 87px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1px 0 -28px;
}

.u-section-1 .u-group-2 {
  width: 69px;
  background-image: none;
  min-height: 34px;
  height: auto;
  margin: -34px 18px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 5px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -1px 1px -30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 370px auto 60px 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.3126em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -31px;
    margin-right: 18px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -41px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: -51px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 32px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -373px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 112px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: -42px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -8px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 15px;
}