.u-section-1 .u-sheet-1 {
  min-height: 663px;
}

.u-section-1 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-1 .u-form-1 {
  height: 362px;
  width: 570px;
  margin: 76px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -222px 855px 0 90px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 23px auto 0 90px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -205px 869px 0 83px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 23px 869px 0 83px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 140px auto 0 92px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 130px auto 40px 90px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.3126em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 745px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 752px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 525px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 532px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 532px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 345px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 352px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 152px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 152px;
  }
}