 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1 .u-form-1 {
  height: 402px;
  margin: 150px 275px 0 295px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 177px;
  min-height: 291px;
  height: auto;
  margin: -385px auto 0 118px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 29px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 118px auto 47px 118px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.3126em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 175px;
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 65px;
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }
}