.u-section-1 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 121px;
  min-height: 54px;
  height: auto;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 60px -2px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.3126em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -397px;
  }
}